/*
Copyright: 2016 Jenny Faig & Tyler LaVecchia
*/

html {
  font-family:'Trebuchet MS',Arial,sans-serif;
}

img {
    display:block;
    margin:auto;
}

h1 {
    text-align:center;
}

section {
    border-color:red;
    border-style:solid;
    margin-left:3em;
    margin-right:3em;
    border-width:.15em;
}

a {
    margin-left:2em;
}

p {
    margin-top:0;
    margin-bottom:0;
}

.check {
    margin-top:1em;
}

.manage {
    margin-bottom:1em;
}

footer {
    margin-left:0;
    margin-right:0;
    padding-top:1em;
    padding-left:2em;
    padding-bottom:3em;
    margin-top:3em;
    border-color: RGB(0,0,128);
    border-width:.15em;
    border-style: solid;
  }